@using Celestial.Models

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Celestial.Models.Stat

<script type="text/javascript">
    $(document).ready(function () {
        $('.natural-disaster').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("NaturalDisaster", "Stats", new { id = Model.StatId })',
                data: $(this).serialize(),
                success: function (result) {
                    console.log(result.Capital);
                    $('#capital').text(result.Capital);
                    $('#crystal').text(result.Crystal);
                    $('#pop').text(result.Pop);
                }
            });
        });
    });
</script>

<h2>Details</h2>

<div>
    <h4>Planet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Planet.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planet.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planet.Government)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planet.Government)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planet.Economy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planet.Economy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planet.Geography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planet.Geography)
        </dd>
    </dl>
</div>
<div>
    <h4>Stats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.StatId)
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd>
            <span id="capital">@Model.Capital</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crystal)
        </dt>
        <dd>
            <span id="crystal">@Model.Crystal</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pop)
        </dt>
        <dd>
            <span id="pop">@Model.Pop</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stability)
        </dt>
        <dd>
            <span id="stability">@Html.DisplayFor(model => model.Stability)</span>
        </dd>
    </dl>
</div>
<button class="natural-disaster">Natural Disaster</button>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlanetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
