@model Celestial.Models.Stat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Stat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.capital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.capital)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.crystal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.crystal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planet.PlanetId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
